#my-photo{
    width: 55vw;
    aspect-ratio: 600 / 536;
    position: relative;
    bottom: 8vh;
    right: 6vw;
}

body{
    overflow: hidden;
}

#name-heading{
    font-size: 8vw;
    width: 40vw;
    height: auto;
    position: absolute;
    left: 39vw;
    top: -8vh;
}

#about-me{
    position: absolute;
    left: 39vw;
    font-size: 2vw;
    top: 50vh;
    width: 45vw;
}

#abilities-container{
    position: absolute;
    left: 39vw;
    font-size: 1.4vw;
    top: 75vh;
    border-top: solid;
    padding-top: 2vh;
}

#wrapper{
    display: flex;
    justify-content: center;
    padding-top: 1vh;
    gap: 2vw;
}

#cv-button{
    position: relative;
    top: 2vh;
}

.buttons {
    width: 10vw;
    height: 7vh;
    border-radius: 20px;
    border: none;
    position: relative;
    overflow: hidden;
    background-color: #939393; 
    color: black; 
    transition: color 0.5s ease;
}

.buttons::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ffffff, #c5bdbd);
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 0;
}

.buttons:hover::before {
    transform: translateX(0);
}

.buttons:hover {
    color: rgb(0, 0, 0); 
    cursor: pointer;
    background-color: #919191; 
    z-index: 1;
}

.buttons span {
    position: relative;
    z-index: 1; 
    font-size: 0.9vw;
}