::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

::-webkit-scrollbar-track {
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #000000, #000000, #000000); 
    border-radius: 10px; 
}

body{
    background-color: #e6e6e6;
    cursor: none; 
    margin-top: 0;
}

#cursor-circle{
  width: 100%;
  height: 100%;
}

:root {
    --cursor-size: 28px;
    --bg: #e6e6e6;
    --black: #000000;
  }
  
  #cursor {
    position: fixed;
    top: calc(var(--cursor-size) * -0.5);
    left:  calc(var(--cursor-size) * -0.5);
    pointer-events: none;
    mix-blend-mode: difference;  
    filter: url(#goo);
    z-index: 10000;
  }
  
  .cursor-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--cursor-size);
    height: var(--cursor-size);
    border-radius: var(--cursor-size);
    background: var(--bg);
    transform-origin: center center;
  }
  

  .goo {
    display: none;
  }                
  
  #burger-menu{
    width: 20%;
  }
            
  #burger-svg{
    position: absolute;
    top: -23%;
    left: 91%;
  }

  #top-line, #bottom-line{
    stroke: var(--black);
    transition: all 0.5s ease;
    transform-origin: center;
  }

  #burger-menu:hover #top-line{
    transform: rotate(-90deg);
  }

  #burger-menu:hover #nav-bar{
    opacity: 1;
  }

  #nav-bar{
    transition: opacity 0.5s ease;
    opacity: 0;
  }