body {
    overflow: hidden;
}

main {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 70vw;
    height: 85vh;
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    left: 29vw;
}

aside{
    width: 28vw;
    height: 65vh;
    position: relative;
    bottom: 82vh;
    border: solid;
}

#main-heading {
    font-size: 12vw;
    color: #000000;
}

#hero-section {
    display: flex;  
    align-items: center;
    flex-direction: column;
}

#overview {
    position: fixed;
    top: 0;
    left: 0;
    width: 12%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    z-index: 1000;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#mini-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Images/Screenshot\ Test.png'); 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: top left;
    opacity: 0.5; 
}

#overview-scrollbar {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    z-index: 1; 
}


#overview-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#previous-text {
    transition: opacity 0.3s ease;
    opacity: 1;
    font-size: 2.2vw;
    margin-left: 24%;
}

#next-text {
    transition: opacity 0.3s ease;
    opacity: 1;
    font-size: 2.2vw;
    margin-right: 20%;
}

#navigation-buttons {
    display: flex;               
    justify-content: space-between; 
    align-items: center;           
    width: 60vw;                   
    margin: 0 auto;               
    padding: 0 5%;         
    position: relative;
    top: 0vh;       
}

#previous-button,
#next-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;                     
    height: 12vh;                    
    border-radius: 20px;             
    transition: width 0.5s ease;     
}

#previous-button:hover,
#next-button:hover {
    width: 20%;  
}

#previous-button:hover #previous-text,
#next-button:hover #next-text {
    opacity: 0;
}

#previous-button:hover #left-arrow,
#next-button:hover #right-arrow {
    transform: translateX(-180%);   
}

#left-arrow,
#right-arrow {
    width: 20%;
    transition: transform 0.5s ease;  
}

#previous-button:hover #left-arrow {
    transform: translateX(-180%);  
}

#next-button:hover #right-arrow {
    transform: translateX(180%);   
}

#carousel-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffffff61;
    position: relative;
    top: 5%;
    width: 20%;
    height: 13%;
    gap: 4%;
    border-radius: 20px;
}


#project-display {
    width: 50%;
    height: 24.88vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dot-placeholder{
    background-color: rgb(0, 0, 0);
    width: 12%;
    height: 17%;
    border-radius: 20px;
    position: relative;
    transition: width 0.5s ease, height 0.5s ease;
    z-index: 20;
}

#preview-image{
    width: 80%;
    aspect-ratio: 16 / 9;
    padding-top: 2%;
    border-radius: 29px;
    transition: opacity 0.3s ease, filter 0.5s ease;
}

footer{
    border-top: solid;
    height: 11vh;
    width: 100%;
    position: relative;
    bottom: 75vh;
    z-index: 21222;
}

.icon-image{
    padding-top: 0.5%;
    width: 2vw;
    height: 5vh;
    aspect-ratio: 16/9;
}

#target-text{
    position: absolute;
    z-index: 1000;
    top: 20vh;
    font-size: 3vw;
    font-weight: 500;
    transition: all 0.5s ease;
    pointer-events: none;
    margin: 0;
    padding: 0;
    opacity: 0;
}

#socials-section{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}