#nav-bar{
    display: grid;
    width: 20%;
    position: relative;
    margin-right: 0;
    padding-right: 0;
}

#nav-bar ul{
    list-style: none;
    display: flex;
}

.navBarOption{
    position: relative;
    display: flex;
    border-radius: 24px;
    width: 39%;
    height: 40px;
    justify-content: center;
    align-items: center;
    animation: loadOption 0.5s ease forwards;
}

.navBarOption a{
    text-decoration: none;
    color: black;
}

header{
    position: sticky;
    top: 0; 
    z-index: 1000; 
    display: flex;
    margin: 0;
    padding: 0 ;
}


.make-wider {
    animation: makeWider 0.5s ease forwards;
}

@keyframes loadOption{
    from {
        top: 50px;
    }
    to {
        top: 0px;
    }
}

@keyframes makeWider{
    from {
        width: 38px;
        background-color: rgb(0, 0, 0);
    }
    to {
        width: 80%;
        background-color: pink;
    }
}


.navLogo {
    height: 60px; /* Adjust the height as needed */
    margin-left: auto; /* Push logo to the right */
    padding-right: 3%;
}

#name-logo{
    width: 12%;
    font-size: 2vw;
    margin: 0;
    padding: 0;
}

#name-section{
    padding-top: 1%;
    width: 80%;
}