.project-overview{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    width: 100%;
    margin-top: 4vh;
    height: auto;
}

.item{
    width: 40vw;
    height: auto;
    flex-grow: 1;
    flex-basis: 200;
}

#visual-display {
    position: relative;
    top: 12vh;
    left: 15vw;
}


.project-description{
    padding-left: 2vw;
    padding-right: 3vw;
    display: flex;
    flex-direction: column;
}

.project-properties{
    border-top: solid;
    padding-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    position: relative;
}

.project-property{
    width: 13vw;
}

#project-breakdown{
    position: relative;
    left: 25%;
    top: 18vh;
    width: 50vw;
    background-color: rgb(216 216 216 / 33%);
    padding: 2vw;
    border-radius: 20px;
    opacity: 0; /* Initially hidden */
    transform: translateY(30%); /* Slight downward translation for a smooth effect */
    transition: opacity 2s ease, transform 1s ease-in; /* Smooth transition */
}

#project-breakdown.visible {
    opacity: 1; /* Fade to full opacity */
    transform: translateY(0); /* Reset to original position */
}

#scroll-text{
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 10vh;
    transition: all 0.5s ease;
}

#project-heading{
    font-size: 8vw;
    margin-bottom: 0;
    margin-top: 0;
}